{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}

<div class="container">
    <h1 align="center">Notes your face, bitch</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <li class="list-group-item">{{ note.data }}
                <button type="button" class="close" onClick="deleteNote({{note.id}})" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </ul>  
    <br> 
    <form action="" method="post">
        <textarea class="form-control" id="note" name="note" placeholder="Enter your note here maderfaker" required></textarea>
        <br>
        <div class="form-group" align="center" style="padding: 10px;">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>

{% endblock %}